@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=Viaoda+Libre&display=swap');

html, body {
  margin: 0;
  padding: 0;
}
.Programming {
  width: 100vw;
  height: 924px;
  position: relative;
  background: #0A0807;
  overflow: hidden;
}
.bg {
  width: 100%;
  height: 860px;
  left: 0%;
  top: 40px;
  position: absolute;
  opacity: 0.63;
}
.Rectangle8 {
  width: 75.14%;
  height: 535px;
  left: 11.88%;
  top: 306px;
  position: absolute;
  background: black;
  border: 3px #9A735E solid;
}
.Rectangle10 {
  width: 55.97%;
  height: 173px;
  left: 22.01%;
  top: 76px;
  position: absolute;
  background: black;
  border: 4px #9A735E solid;
}
.Title {
  width: 49.58%;
  left: 24.65%;
  top: 114px;
  position: absolute;
  color: black;
  font-size: 96px;
  font-family: "Viaoda Libre";
  font-weight: 400;
  text-transform: uppercase;
  line-height: 96px;
  text-align: center;
  text-shadow: -1px -1px 0 #9A735E, 1px -1px 0 #9A735E, -1px 1px 0 #9A735E, 1px 1px 0 #9A735E;
}
.Rectangle11 {
  width: 54.51%;
  height: 149px;
  left: 22.71%;
  top: 87px;
  position: absolute;
  opacity: 0.50;
  background: transparent;
  border: 4px #9A735E solid;
}
.Rectangle10a {
  width: 19.79%;
  height: 379px;
  left: 18.19%;
  top: 412px;
  position: absolute;
  opacity: 0.50;
  border: 3px #9A735E solid;
}
.Rectangle11a {
  width: 20%;
  height: 378px;
  left: 39.93%;
  top: 413px;
  position: absolute;
  opacity: 0.50;
  border: 3px #9A735E solid;
}
.Rectangle12 {
  width: 19.86%;
  height: 379px;
  left: 61.88%;
  top: 413px;
  position: absolute;
  opacity: 0.50;
  border: 3px #9A735E solid;
}
.SongChaser {
  width: 17.78%;
  height: 135px;
  left: 19.17%;
  top: 638px;
  position: absolute;
  color: #9A735E;
  font-size: 15px;
  font-family: "IM FELL French Canon";
  line-height: 15px;
}
.SongChaser .italic { font-style: italic; }
.SongChaser .title { font-weight: bold; }

.Rectangle9 {
  width: 74.17%;
  height: 521px;
  left: 12.36%;
  top: 313px;
  position: absolute;
  opacity: 0.50;
  border: 3px #9A735E solid;
}
.Title2 {
  left: 28.13%;
  top: 338px;
  position: absolute;
  color: #9A735E;
  font-size: 40px;
  font-family: "Viaoda Libre";
}
.Asdf {
  width: 17.78%;
  height: 202px;
  left: 19.17%;
  top: 419px;
  object-fit: cover;
  position: absolute;
}
.MovieRating {
  width: 17.99%;
  height: 135px;
  left: 40.97%;
  top: 638px;
  position: absolute;
  color: #9A735E;
  font-size: 15px;
  font-family: "IM FELL French Canon";
  line-height: 15px;
}
.MovieRating .italic { font-style: italic; }
.MovieRating .title { font-weight: bold; }

.Screenshot20241103205146 {
  width: 17.99%;
  height: 201px;
  left: 40.97%;
  top: 420px;
  position: absolute;
  object-fit: cover;
}
.AlbumCover {
  width: 17.85%;
  height: 136px;
  left: 62.78%;
  top: 640px;
  position: absolute;
  color: #9A735E;
  font-size: 15px;
  font-family: "IM FELL French Canon";
  line-height: 15px;
}
.AlbumCover .italic { font-style: italic; }
.AlbumCover .title { font-weight: bold; }

.Khruangbinfront {
  width: 17.85%;
  height: 203px;
  left: 62.78%;
  top: 420px;
  position: absolute;
  object-fit: cover;
}

.Resume, .Github, .Programminglink, .Art, .Writing, .Email, .Linkedin {
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #9A735E;
    font-size: 36px;
    font-family: IM FELL French Canon SC;
    line-height: 46.80px;
}
.Resume { width: 11.74%; left: 67.57%; top: 72.14%; }
.Github { width: 11.74%; left: 78.33%; top: 72.14%; }
.Programminglink { width: 18.75%; left: 36.94%; top: 92.66%; }
.Art { width: 7.50%; left: 59.65%; top: 92.66%; }
.Writing { width: 13.54%; left: 72.5%; top: 92.66%; }
.Email { width: 8.96%; left: 10.49%; top: 72.14%; }
.Linkedin { width: 15.00%; left: 17.57%; top: 72.14%; }