@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Viaoda+Libre&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background: #0A0807;
  color: #9A735E;
  font-family: "IM Fell French Canon SC", serif;
  min-height: 100%;
}

.Writing {
  background: url('pics/ocean_stars.jpg') center/cover no-repeat;
  padding: 2rem;
  margin-top: 40px;
  min-height: 100vh;
}

.Title {
  font-family: "Viaoda Libre", serif;
  font-size: 6.64vw;
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  color: #9A735E;

  border: 3px solid #9a735e7c;    /* border color */
  padding: 0.5rem 1.5rem;       /* spacing around the text */
  display: inline-block;        /* shrink box to fit title */
}

.Outerbox {
  border: 3px solid #9A735E;
  padding: 0.5rem 0.5rem;
  display: inline-block;
  justify-content: center;
  background: rgba(0, 0, 0);
  margin-bottom: 2rem; /* spacing below title */
}

.TitleWrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem; /* spacing below title */
}

.Awards {
  border: 3px solid #9a735e7f;
  padding: 0.5rem 0.5rem;
  width: 98%;
  display: inline-block;
  justify-content: center;
  background: rgba(0, 0, 0);
}

.OuterSection {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  background: rgba(0, 0, 0);
  border: 3px solid #9A735E;
}

.SectionWrapper {
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

.WritingSections {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.Section {
  background: rgba(0,0,0,0.9);
  border: 3px solid #9a735e7f;
  padding: 1%;
  width: 32%;
  box-sizing: border-box;
}

.Section h2 {
  font-size: 1.2rem;
  margin-top: 0;
  color: #9A735E;
}

.Section p {
  font-size: 0.9rem;
  line-height: 1.4;
}


.Programminglink, .Artlink, .Writinglink, .MyProfile {
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #9A735E;
    font-size: 36px;
    font-family: "IM FELL French Canon SC", serif;
    line-height: 46.80px;
}

.Programminglink { width: 18.75%; left: 36.94%; top: 92.66%; }
.Artlink { width: 7.50%; left: 59.65%; top: 92.66%; }
.Writinglink { width: 13.54%; left: 72.5%; top: 92.66%; }

.barlink { 
  width: 60.69%; 
  left: 3.96%; 
  top: 14.36%; 
  position: absolute; 
  color: black; 
  text-shadow: -1px -1px 0 #9A735E, 1px -1px 0 #9A735E, -1px 1px 0 #9A735E, 1px 1px 0 #9A735E;
  font-size: 118px; 
  font-family: Viaoda Libre; 
  text-transform: uppercase; line-height: 118px; 
}