@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=Viaoda+Libre&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.Writing {
  width: 100%;
  height: auto;
  position: relative;
  background: #0A0807;
}

.bg {
  width:100%;
  left: 0%;
  top: 5%;
  position: absolute;
  opacity: 0.63;
  object-fit: cover;
}

.Rectangle8 {
  width: 75.14%;
  height: auto;
  margin-left: 11.88%;
  margin-top: 36.72%;
  position: relative;
  background: black;
  border: 4px solid #9A735E;
}

.Rectangle10 {
  width: 95%;
  height: auto;
  margin-left: 0.5%;
  margin-top: 0.5%;
  position: relative;
  background: black;
  border: 4px solid #9A735E;
}

.Title {
  width: 32.78%;
  padding: 10px;
  text-align: center;
  color: black;
  font-size: 6.64vw; /* 96px at 1440px */
  font-family: "Viaoda Libre";
  font-weight: 400;
  text-transform: uppercase;
  line-height: 6.64vw;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.Rectangle11 {
  width: 35.28%;
  height: auto;
  position: relative;
  opacity: 0.50;
  border: 4px solid #9A735E;
}

.Rectangle10B {
  width: auto;
  height: auto;
  padding: 10px;
  margin-left: 30%;
  position: relative;
  opacity: 0.50;
  border: 0.21% solid #9A735E;
}

.Rectangle12 {
  width: 19.86%;
  height: auto;
  margin-top: 25px;
  margin-left: 2.5%;
  position: relative;
  border: 2px solid #9a735e74;
}

.RecentAwards {
  width: 69.72%;
  height: 13.48%;
  left: 10px;
  top: 41.11%;
  padding: 10px;
  position: relative;
}

.Rectangle9 {
  width: 98.5%;
  height: auto;
  margin:0.01%;
  left: 0.5%;
  top: 1%;
  position: relative;
  opacity: 0.50;
  border: 4px solid #9A735E;
}

.TheSoftMonsters {
  position: relative;
  padding:5px;
}

.Rectangle14 {
  width: 19.86%;
  height: auto;
  position: relative;
  border: 2px solid #9a735e74;
}

.GnarledBranchesOfTheDeaconTree {
  position: relative;
  padding: 5px;
}

.Rectangle13 {
  width: 28.40%;
  height: auto;
  left: 20%;
  top: 20%;
  position: relative;
  border: 2px solid #9a735e74;
}

.SanctuaryAPoem {
  position: relative;
  padding: 5px;
}
